{% extends "base.html" %}

{% block page_style %}<link rel="stylesheet" href="{{url_for('static',filename='css/channel_list.css')}}">{% endblock %}

{% block head %}
{{ super() }}
        <script>
            function myFunction() {
                let input, filter, ul, li, i, txtValue;
                input = document.getElementById('myInput');
                filter = input.value.toUpperCase();
                ul = document.getElementById("myUL");
                li = ul.getElementsByTagName('li');
                
                for (i = 0; i < li.length; i++) {
                  txtValue = li[i].textContent;
                  if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                  } else {
                    li[i].style.display = "none";
                  }
                }
              }
        </script>
{% endblock %}

{% block content %}

        <h3>チャンネルの検索</h3>
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="チャンネル名を入力してください">
        
        <h3>チャンネル一覧</h3>
        
        <ul id="myUL">
          {% for i in channels %}
          <li><a href = "https://xxx.jp">{{i.name}}<img src="../static/img/channel_list/{{i.description}}" class="picture"></a></li>
          {% endfor %}
        </ul>

 {% endblock %}