<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8">
        <title>申請くん</title>

        <link rel="stylesheet" href="../static/css/channel_list.css"/>

        <script>
            function myFunction() {
                let input, filter, ul, li, a, i, txtValue;
                input = document.getElementById('myInput');
                filter = input.value.toUpperCase();
                ul = document.getElementById("myUL");
                li = ul.getElementsByTagName('li');
                
                for (i = 0; i < li.length; i++) {
                  a = li[i].getElementsByTagName("a")[0];
                  txtValue = a.textContent || a.innerText;
                  if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                  } else {
                    li[i].style.display = "none";
                  }
                }
              }
        </script>
        
    </head>

    <body>
        <div class="header">
            <p>Header</p>
        </div>

        <h2>タイトル</h2>

        <h3>チャンネルの検索</h3>
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="チャンネル名を入力してください">
        
        <h3>チャンネル一覧</h3>
        
        <ul id="myUL">
          {% for i in channels %}{% set channels_loop = loop %}
          {% for j in images %}{% if loop.index==channels_loop.index %}
          <li><a href = "https://xxx.jp">{{i}}<img src="../static/img/channel_list/{{j}}" class="picture"></a></li>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </ul>

    </body>
</html>