{% extends "base.html" %}

{% block page_style %}<link rel="stylesheet" href="{{url_for('static',filename='css/kanrisyagamen.css')}}">{% endblock %}
{% block head %}{{ super() }}{% endblock %}
{% block content %}
    <div class="header">
        <h1>申請くん（管理者画面）</h1>
        <ul class="main-nav">
            <li><a href="URL">管理者アカウント</a></li>
        </ul>
    </div>
<!-- ステータス一覧というタイトル -->
    <div class="subtitle1"><h2>ステータス一覧</h2></div>

    <div class="iroiro">
<!-- 検索機能１ -->
        <form class="search-1" method="post" action="URL" method="get">
            <input type="search" name="s" placeholder=" ">
            <input type="submit" name="btn_search" value="検索" />
        </form>
<!-- テーブル1のステータス選択ボタン -->
        <div class="status">
            <input type="submit" name="btn-square" value="受領" />
            <input type="submit" name="btn-square" value="承認" />
            <input type="submit" name="btn-square" value="否認" />
        </div>
    </div>
<!-- テーブル1 -->
    <div id="table-1">
        <table>
            <thead>
                <tr><th>選択</th><th>チャンネル名</th><th>申請者名</th><th>申請日時</th><th>申請内容</th><th>利用目的</th><th>ステータス</th></tr>
            </thead>
            <tbody>
                {% for i in applyID %}
                <tr>
                    <th><input type="checkbox"></th>
                        {% for channel in channels %}
                        <td>{{ channel }}</td>
                        {% endfor %}
                </tr>
                {% endfor %}
                <!--
                <tr><th><input type="checkbox"></th><td>第一会議室</td><td>〇〇さん</td><td>2023/07/11/10:30</td><td>予約</td>
                    <td><div calss="sc">利用目的〇〇〇〇</div></td><td>承認</td></tr>
                <tr><th><input type="checkbox"></th><td>第一会議室</td><td>〇〇さん</td><td>2023/07/11/10:30</td><td>予約</td>
                    <td><div calss="sc">利用目的〇〇〇〇</div></td><td>承認</td></tr>
                <tr><th><input type="checkbox"></th><td>第一会議室</td><td>〇〇さん</td><td>2023/07/11/10:30</td><td>予約</td>
                    <td><div calss="sc">利用目的〇〇〇〇</div></td><td>承認</td></tr>
                <tr><th><input type="checkbox"></th><td>第一会議室</td><td>〇〇さん</td><td>2023/07/11/10:30</td><td>予約</td>
                    <td><div calss="sc">利用目的〇〇〇〇</div></td><td>承認</td></tr>
                <tr><th><input type="checkbox"></th><td>第一会議室</td><td>〇〇さん</td><td>2023/07/11/10:30</td><td>予約</td>
                    <td><div calss="sc">利用目的〇〇〇〇</div></td><td>承認</td></tr>
                <tr><th><input type="checkbox"></th><td>第一会議室</td><td>〇〇さん</td><td>2023/07/11/10:30</td><td>予約</td>
                    <td><div calss="sc">利用目的〇〇〇〇</div></td><td>承認</td></tr>
                <tr><th><input type="checkbox"></th><td>第一会議室</td><td>〇〇さん</td><td>2023/07/11/10:30</td><td>予約</td>
                    <td><div calss="sc">利用目的〇〇〇〇</div></td><td>承認</td></tr>
                <tr><th><input type="checkbox"></th><td>第一会議室</td><td>〇〇さん</td><td>2023/07/11/10:30</td><td>予約</td>
                    <td><div calss="sc">利用目的〇〇〇〇</div></td><td>承認</td></tr>
                <tr><th><input type="checkbox"></th><td>第一会議室</td><td>〇〇さん</td><td>2023/07/11/10:30</td><td>予約</td>
                    <td><div calss="sc">利用目的〇〇〇〇</div></td><td>承認</td></tr>
                <tr><th><input type="checkbox"></th><td>第一会議室</td><td>〇〇さん</td><td>2023/07/11/10:30</td><td>予約</td>
                    <td><div calss="sc">利用目的〇〇〇〇</div></td><td>承認</td></tr>
                -->
            </tbody>
        </table>
    </div>

<!-- チャンネル一覧というタイトル -->
    <div class="subtitle2"><h2>チャンネル一覧</h2></div>


<!-- チャンネル追加ボタン -->
        <form method="post">
        <input type="text" name="body" placeholder="追加するチャンネル名を記入">
        <input type="submit" value="チャンネル追加">
        </form>

<!-- チャンネル削除ボタン -->
        <form method="post">
        <input type="submit" value="チャンネル削除">
        </form>

<!-- アラート「削除するチャンネルを選択してください」 -->
        <p id="arart">削除するチャンネルを選択してください</p>

<!-- 検索機能2 -->
        <form class="search-2" method="post" action="URL" method="get">
            <input type="search" name="s" placeholder=" ">
            <input type="submit" name="btn_search" value="検索" />
        </form>

        

<!-- テーブル -->  
        <div class="table-2">
            <table>
                <thead>
                    <tr><th>選択</th><th>チャンネル名</th></tr>
                </thead>
                <tbody>
                    {% for channelname in channelnames %}
                    <tr> 
                        <td><input type="checkbox"></td>
                        <td>{{ channelname }}</td>    
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div> 
    </div>
</body>

</html>
{% endblock %}