<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>申請くん</title>
    <link rel="stylesheet" href="../../static/css/kanrisya-edit.css">
</head>
    
<body>
    <div class="header">
        <h1>申請くん（管理者画面）</h1>
    </div>
<!-- 管理者アカウントというタイトル -->
    <div class="subtitle1"><h2>管理者アカウント</h2></div>
    <div calass="sutitile2"><h3>全管理者共通</h3></div>
    <form>
        <input type="text" placeholder="ユーザーID">
        <input type="text" placeholder="パスワード">
    </form>
    <div calass="sutitile3"><h3>管理者➀</h3></div>
    <form>
        <input type="text" placeholder="氏名">
        <input type="text" placeholder="E-mail"></E-mail>
    </form>
    <div calass="sutitile3"><h3>管理者⓶</h3></div>
    <form>
        <input type="text" placeholder="氏名">
        <input type="text" placeholder="E-mail"></E-mail>
    </form>
    <div calass="sutitile3"><h3>管理者⓷</h3></div>
    <form>
        <input type="text" placeholder="氏名">
        <input type="text" placeholder="E-mail"></E-mail>
    </form>
    <!-- 戻るボタン -->
    <form method="post">
    <input type="submit" value="戻る">
    </form>
    <!-- 変更内容を保存ボタン -->
    <form method="post">
    <input type="submit" value="変更内容を保存">
    </form>

</body>
</html>