<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/mypage.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>マイページ</title>
  </head>
  <body>


    <h2>マイページ</h2>  
<div class="mypage">
  <div class="aside">
    <div class="message">メッセージ</div>
     <div id="account">
    <p>アカウント欄</p>

     <ul>
         <li><b class="item-name">名前</b><input type="text" name="user name"></li>
     </ul>
     <ul>
         <li><b class="item-name">所属</b><input type="text" name="Affiliation"></li>
     </ul>
     <ul>
         <li><b class="item-name">電話番号</b><input type="text" name="phone namber"></li>
     </ul>
     <ul>
      <li><b class="item-name">メールアドレス</b><input type="text" name="mail address"></li>
     </ul>
     <ul>
      <li><b class="item-name"></b><input type="submit" value="アカウント編集"></li>
     </ul> 
  </div>
 </div>
<div class="main">
 <h2>各施設利用申請状況</h2>
    <div class="caution">注意書き</div>    
    <h2>申請状況</h2>
    <div class="request">
     <ul class="req">
      <li>/8/3/14:00 承認申請中</li>
      <li>2023/8/2/14:00  利用予約完了</li>
      <li>2023/7/29/14:00 利用予約完了</li>
      <li>2023/7/28/14:00 利用予約完了</li>
     </ul>
    </div>
    <h2>過去利用歴</h2>
    <div class="log">
      <ul class="req">
          <li>/8/3/14:00 承認申請中</li>
          <li>2023/8/2/14:00  利用予約完了</li>
          <li>2023/7/29/14:00 利用予約完了</li>
          <li>2023/7/28/14:00 利用予約完了</li>        
      </ul>
    </div>
    <button type=“button” onclick="location.href='https://shinsei.net'">各施設の新規ご利用希望の申請はこちらから</button>
  </div>   
</div>   
 </body>
</html>