/* 全体背景 */
.application-form-background {
  /* background-color: #E6E6FA; */
  width: 100%;
  height: 1800px;
  display: flex;
  padding-left: 10px;
}

/* フォーム格納コンテナ */
.application-form-wrapper {
  /* background-color: #E6E6FA; */
  width: 700px;
  height: 1800px;
  margin: auto;
}

/* フォームエリア（タイトル） */
.application-form-area-title {
  background-color: #FFFFFF;
  width: 680px;
  height: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3px;
  padding-bottom: 20px;
  margin: auto;
  margin-top: 50px;
  border-top: solid 18px #DEDDFF;
}

/* フォームタイトル */
.application-form-title {
  color: black;
  font-size: 30px;
}

/* フォームエリア（各カテゴリ） */
.application-form-area-category {
  background-color: #FFFFFF;
  width: 680px;
  height: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3px;
  padding-bottom: 20px;
  margin: auto;
  margin-top: 20px;
}

/* フォームタイトル（各カテゴリ） */
.application-form-category {
  color: black;
  font-size: 20px;
  border-left: solid 8px #DEDDFF;
  padding-left: 12px;
}

/* フォーム（各カテゴリ説明） */
.application-form-category-message {
  font-size: 15px;
  margin-bottom: 22px;
}

/* フォームタイトル（各項目）*/
.application-form label {
  color: black;
}

/* フォームタイトル（各項目）*/
.application-form label::before {
  font-family: "Font Awesome 5 Free";
  content: "■";/*アイコンのユニコード*/
  font-weight: 900;
  font-size: 1em;/*サイズ*/
  left: 0;/*アイコンの位置*/
  top: 0;/*アイコンの位置*/
  color: #DEDDFF;; /*アイコン色*/
  margin-right: 7px;
}

/* スクロールボックス */
.listScroll {
  /*テーブルの横幅が250px以上の場合スクロール*/
  width: 250px;
  /*テーブルの縦幅が100px以上の場合スクロール*/
  height: 130px;
  /*縦スクロール*/
  overflow: scroll;
  /*横スクロール*/
  overflow-x: scroll;
  margin-left: 5px;
}

/* スクロールボックスの項目名 */
th {
  background-color: #DEDDFF;
  border-bottom: solid black;
  border-left: solid black;
  border-right: solid black;
  border-top: solid black;
  border-width: 1.5px;
  position: sticky; /* スクロール時項目を固定 */
  top: 0; /* スクロール時項目を固定 */
  font-size: 13px;
  font-weight:550;
  padding-left: 5px;
  padding-right: 5px;
}

/* スクロールボックスの要素 */
td {
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  text-align: center;
  font-size: 14px;
}

/* スクロールボックスの要素 */
.facilityName {
  overflow: hidden;
  text-overflow: ellipsis;
}

/* フォーム（テキスト、メール）*/
.application-form input[type="text"],
.application-form input[type="email"] {
  width: 400px;
  height: 22px;
  margin-top: 5px;
  margin-bottom: 20px;
  margin-left: 5px;
}

/* フォーム（検索フォーム）*/
.application-form input[type="search"] {
  width: 200px;
  height: 25px;
  margin-bottom: 20px;
  margin-left: 5px;
}

/* フォーム（プルダウン）*/
.application-form select {
  width: 70px;
  height: 22px;
  margin-top: 5px;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 2px;
}

/* フォーム（テキストエリア）*/
.application-form textarea {
  width: 400px;
  height: 150px;
  margin-top: 5px;
  margin-bottom: 20px;
  margin-left: 5px;
}

/* フォーム（検索ボタン）*/
.sortButton {
  width: 50px;
  height: 25px;
  margin-bottom: 20px;
  margin-left: 5px;
}

/* フォーム（送信ボタン）*/
.submitButton {
  width: 160px;
  height: 45px;
  font-size: 16px;
  margin-top: 60px;
  margin-bottom: 20px;
  margin-left: 5px;
  background-color: #DEDDFF;
  border: solid 1px black;
  font-weight: bold;
}

/* エラーメッセージ */
.application-form-flashes {
  color: red;
  display: inline;
}

/* 以下、モーダル */
.modal-wrapper {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
}

.modal {
  position: absolute;
  top: 20%;
  left: 34%;
  background-color: #e6ecf0;
  padding: 20px 0 20px;
  border-radius: 10px;
  width: 450px;
  height: auto;
  text-align: center;
}

#confirm-modal-close {
  position: absolute;
  top: 12px;
  right: 12px;
  color: rgba(128, 128, 128, 0.46);
  cursor: pointer;
}

.modal-form {
  width: 100%;
}

.modal-form h2 {
  color: #5f5d60;
  letter-spacing: 1px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.submit-btn {
  width: 250px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-block;
  background-color: #DEDDFF;
  border: none;
  border-radius: 3px;
  color: black;
  margin: 10px auto;
  cursor: pointer;
}
