.page-main { background-color: #DEDDFF; }

.page-sub { background-color: #EFF2FF; }

#header {
    position: fixed;
    height: 30px;
    width: 100%;
    top: 0px;
    display: flex;
    justify-content: space-between;
}

#header > p { margin: 0px 20px; font-weight: bold; }

#header #account { display: flex; }

#header #account > p { margin: 0px 20px; }
