.page-main { background-color: #DEDDFF; }

.page-sub { background-color: #EFF2FF; }

#header {
    position: fixed;
    height: 30px;
    width: 100%;
    top: 0px;
    display: flex;
    justify-content: space-between;
}

#header #top-link { margin: 0px 20px; font-weight: bold; }

#header #account { display: flex; }

#header #account > p { margin: 0px 20px; }

.textlink a {
    position: relative;
    color: #333;
    text-decoration: none;
}
.textlink a:hover {
    color: #6291f9;
}

.textlink a::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ceb849;
    transform: scaleX(0);
    transition: transform 0.3s;
}

.textlink a:hover::after {
    transform: scaleX(1);
}
.textlink a {
    position: relative;
    color: #333;
    text-decoration: none;
}
.textlink a:hover {
    color: #6291f9;
}

.textlink a::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ceb849;
    transform: scaleX(0);
    transition: transform 0.3s;
}

.textlink a:hover::after {
    transform: scaleX(1);
}