.main-nav {
	display: flex;
	font-size: 1.25rem;
	text-transform: uppercase;
	margin-top: 34px;
	list-style: none;
}
.main-nav li {
	margin-left: 36px;
}
.main-nav a:hover {
	color: #9d9bef;
}
.header {
	display: flex;
	justify-content: space-between;
}

/* 検索機能1 */
.iroiro {
	display: flex;
}
.input {
	display: flex;
	margin-top: 34px;
}
.search-1 {
	display: flex;
	margin-top: 34px;
}

/* テーブル1のステータス選択ボタン */
.status {
	display: flex;
	margin-left: 750px;
}

input[name="btn-square"] {
	display: inline-block;
	padding: 0.5em 1em;
	text-decoration: none;
	background: #9d9bef;/*ボタン色*/
	/*color: #FFF;*/
	border-bottom: solid 4px #627295;
	border-radius: 3px;
	margin-top: 10px;
	margin-left: 10px;
  }
input[name="btn-square"]:active {
	/*ボタンを押したとき*/
	-webkit-transform: translateY(4px);
	transform: translateY(4px);/*下に動く*/
	border-bottom: none;/*線を消す*/
  }


/*チャンネル一覧というタイトル*/
.subtitle2 {
	margin-top: 100px;
}

/* テーブル1 */
.table-1 { 
	overflow-y: scroll; 
	height: 300px; 
}

thead {
    background-color: #9d9bef(0, 166, 255);
    /* color: #fff; 文字の色*/
    position: sticky;
    top: 0;
    left: 0;
}

#sort_table { border-collapse: collapse; border: 3px solid #7d7d7d; width: 100%; margin-top: 10px;}

#sort_table td { border: 1px solid #7d7d7d; padding: 5px 10px; text-align: center; }
#sort_table th { border: 1px solid #7d7d7d; padding: 5px 10px; cursor:pointer;}
/*td { text-align: center; }

/* テーブル1の一部のセルにスクロール設置、高さ指定 */
.sc {
	overflow-y:scroll;
	height: 3px;
}

/* チャンネル追加ボタン・削除ボタンを縦並びに */
.btn2 {
	display: flex;
	flex-direction: column;
}

/* チャンネル追加ボタン */
input[name="add"] {
	width: 450px;
	margin-top: 10px;
}
#coladd {
	width: 450px;
}

/* チャンネル削除ボタン */
input[name="delete"] {
	width: 450px;
	margin-top: 10px;
}

/* 
.window {
	width: 90vw;
	max-width: 380px;
	height: 240px;
	background-color: #ffffff;
	border-radius: 6px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.text {
	font-size: 18px;
	margin: 0;
}
.yes {
	list-style: none;
	float: left;
	font-size: 18px;
	margin: 0;
}
.no {
	list-style: none;
	float: left;
	font-size: 18px;
	margin: 0;
}
.close {
	cursor:pointer;
	position: absolute;
	top: 4px;
	right: 4px;
	font-size: 20px;
}

#arart {
	color: rgb(221, 0, 85);
	font-size: 0.1px;
	margin-left: 150px;
}
 */
 
/* 検索機能2 */
.input {
	display: flex;
	margin-top: 34px;
}
.search-2 {
	display: flex;
	margin-top: 34px;
}

/* テーブル2 */
/*
.table-2 { 
	overflow-y: scroll; 
	height: 300px; 
}

thead {
    background-color: #9d9bef(0, 166, 255);
    color: #fff;
    position: sticky;
    top: 0;
    left: 0;
}

table { border-collapse: collapse; border: 3px solid #7d7d7d; margin-top: 10px;}

td, th { border: 1px solid #7d7d7d; padding: 5px 10px; }

td { text-align: center; }
*/

/* スクロールボックス */
.listScroll {
	/*テーブルの縦幅が100px以上の場合スクロール*/
	height: 300px;
	/*縦スクロール*/
	overflow-y: scroll;
	/*横スクロール
	overflow-x: scroll;
	margin-left: 5px;
	*/
	width: 100%;
	margin-top: 10px;
	margin-bottom: 50px;
  }
  
  /* スクロールボックスの項目名 */
  th {
	background-color: #9d9bef;
	border-bottom: solid black;
	border-left: solid black;
	border-right: solid black;
	border-top: solid black;
	border-width: 1px;
	position: sticky;
	top: 0;
    left: 0;
	font-size: 14px;
	/*padding-left: 5px;
	padding-right: 5px;*/
	padding: 5px 10px;
  }
  
  /* スクロールボックスの要素 */
  td {
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	text-align: center;
  }
  
  /* スクロールボックスの要素 */
  .column {
	overflow: hidden;/*スクロール時に項目名を固定*/
	text-overflow: ellipsis;
	font-size: 14px;
  }
  .table-label {
	width: 100%;
  }
