@charset "UTF-8";

body {
  background-color: ffffff;
}
h1{
  text-align: center;
}
.mypage {
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: center;
 }

.main{
  display: flex;
  flex-direction: column;
}

.aside{
  display: flex;
  flex-direction: column;
}

.message{
  background-color: ffffff;
  height: 224px;
  width: 370px;
  margin: 12px;
  padding: 24px;
  border:1px solid black;

}

.news {
  /* ボタンっぽいデザインを入れる */
  width: 70px;
  padding: 3px 5px;
  border: solid 1px #000;
  border-radius: 5px;
  background-color: #ffffff;
  position: relative; /* 基準値とする */
}

.news span {
  position: absolute;     /* 相対位置に指定 */
  top: -10px;             /* 表示位置を上から-10pxの位置にする */
  left: calc(100% - 10px);/* 表示位置を右から内側に10pxの位置 */
  color: #ffffff;            /* 文字色を白に指定 */
  font-weight: bold;      /* 太文字にする */
  line-height: 20px;      /* 行の高さを指定 */
  text-align: center;     /* 文字を中央揃えにする */
  background: #fb0303;    /* 背景色を赤に指定 */
  border-radius: 10px;    /* line-heightの半分の角丸を指定 */
  min-width: 20px;        /* 最低幅を指定 */
  padding: 0 3px;         /* 左右に少しだけ余白を設定 */
  box-sizing: border-box; /* 計算しやすいように */
}


.account{
  height: 370px;
  width: 370px;
  margin: 12px; 
  padding: 12px;
  border:1px solid black;
}

input[type=text]{
  height: 18px;
  width: 250px;
  border :1px solid black;
  background-color: ffffff;

}

#account > ul {
  margin: 0px;
  display: table;
}

#account > ul > li {
  display: table-row;
}

b.item-name {
  display: table-cell;
  width: 120px;
  text-align: right;
  padding-right: 10px;
}

.caution{
  background-color: ffffff;
  height: 120px;
  width: 818px;
  margin: 12px;
  padding: 24px;
  border :1px solid black;
}
.request{
  background-color:lightgray;
  height: 240px;
  width: 818px;
  margin: 0px 12px;
  padding: 24px;
  border:4px solid black;
  overflow-y: scroll;
}
.log{
  background-color: lightgray;
  height: 240px;
  width: 818px;
  margin: 0px 12px;
  padding: 24px;
  border:4px solid black;
  overflow-y: scroll;
  text-align: left;
}
button {
  background-color: blanchedalmond;
  height: 50px;
  width: 300px;
  margin: 24px;
  padding: 12px;
  border: 1px solid black;
  text-align: center;
  margin-right: auto;
}
.req li a {
  text-align: left;
}

.input[type="submit"] {
  text-align: right;
}


.centering{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.width_alignment{
  width: 100%;
}

.btn {
  margin: 50px 50px;
  padding: 8px 24px;
  background-color: #DEDDFF;
  display: inline-block;
  color: black;
  cursor: pointer;
}

.modal-wrapper {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
}

.modal {
  position: absolute;
  top: 20%;
  left: 34%;
  background-color: #e6ecf0;
  padding: 20px 0 40px;
  border-radius: 10px;
  width: 450px;
  height: auto;
  text-align: center;
}

#close-modal{
  position: absolute;
  top: 12px;
  right: 12px;
  color: rgba(128, 128, 128, 0.46);
  cursor: pointer;
}

.form {
  width: 100%;
}

.form h2 {
  color: #5f5d60;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

.form input {
  width: 320px;
  margin-bottom: 20px;
  font-size: 12px;
  padding: 12px 12px;
  border: 1px solid #d0d5d8;
  border-radius: 5px;
}

.submit-btn {
  display: inline-block;
  background-color: #DEDDFF;
  border: none;
  border-radius: 3px;
  color: black;
  margin: 10px auto;
  cursor: pointer;
}

img {
  width: 18px;
  height: 18px;
}

.cancelbtn {
  background-color: #ffffff;
    height: auto;
    width: auto;
    color: black;
    padding: 3px 5px;
    font-size: 2px;
    box-shadow: #5f5d60;
    border: 1px solid #5f5d60;

}